<div class="score-container">
    <p>Сбитые конусы: {{ hitConeCount }}</p>
</div>

<div class="container">
    <app-loader></app-loader>
    <canvas #canvas id="webgl-canvas" (touchstart)="preventDefault($event)"></canvas>
    <app-traffic-cones #TrafficConesComponent [car]="car" [camera]="camera"></app-traffic-cones>

    <div class="controls" *ngIf="isMobileDevice">
        <div class="up-control">
            <button (touchstart)="isMovingForward = true" (touchend)="isMovingForward = false">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
        <div class="turn-controls">
            <button (touchstart)="turnLeft()">
                <i class="fas fa-arrow-left"></i>
            </button>
            <div class="empty-space"></div>
            <button (touchstart)="turnRight()">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="down-control">
            <button (touchstart)="isMovingBackward = true" (touchend)="isMovingBackward = false">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>

    <div class="game-controls" *ngIf="isGameOver">
        <button (click)="restartGame()" class="restart-button">Начать заново</button>
    </div>
</div>