<div class="score-container">
    <p>Сбитые конусы: {{ hitConeCount }}</p>
</div>

<div class="container">
    <app-loader></app-loader>
    <canvas #canvas id="webgl-canvas" (touchstart)="preventDefault($event)"></canvas>
    <app-car [scene]="scene" [world]="world" (carLoaded)="onCarLoaded($event)"></app-car>
    <app-traffic-cones #TrafficConesComponent [car]="car" [camera]="camera" [world]="world"></app-traffic-cones>
    <app-bridge #BridgeComponent [scene]="scene" [world]="world"></app-bridge>
    <app-ground #GroundComponent [car]="car" [scene]="scene" [world]="world"></app-ground>

    <div class="controls" *ngIf="isMobileDevice">
        <div class="turn-controls">
            <button (touchstart)="turnLeft(); preventDefault($event)"
                (touchend)="stopTurningLeft(); preventDefault($event)">
                <i class="fas fa-arrow-left"></i>
            </button>
            <div class="empty-space"></div>
            <button (touchstart)="turnRight(); preventDefault($event)"
                (touchend)="stopTurningRight(); preventDefault($event)">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="up-control">
            <button (touchstart)="isMovingForward = true; preventDefault($event)"
                (touchend)="isMovingForward = false; preventDefault($event)">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>

        <div class="down-control">
            <button (touchstart)="isMovingBackward = true; preventDefault($event)"
                (touchend)="isMovingBackward = false; preventDefault($event)">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>

    <div class="game-controls" *ngIf="isGameOver">
        <button (click)="restartGame()" class="restart-button">Начать заново</button>
    </div>
</div>