.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.paper-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/textures/white-paper-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.map-button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.map-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(20, 4, 141, 0.851);
    color: #fff;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(3, 7, 116, 0.3);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.map-button:hover::after {
    opacity: 1;
    visibility: visible;
}

.map-button img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
}

.map-button img:hover {
    transform: scale(1.6);
}

@media (max-width: 768px) {
    .map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .map-button {
        position: static;
        transform: none;
    }

    .map-button img {
        width: 150px;
        height: 150px;
    }
}